:root {
  --ring: oklch(0.6818 0.1584 243.3540);
  --chart-4: oklch(0.7064 0.1822 151.7125);
  --chart-3: oklch(0.8214 0.1600 82.5337);
  --secondary-foreground: oklch(1.0000 0 0);
  --chart-5: oklch(0.5919 0.2186 10.5826);
  --foreground: oklch(0.1884 0.0128 248.5103);
  --shadow-spread: 0px;
  --chart-2: oklch(0.6907 0.1554 160.3454);
  --accent-foreground: oklch(0.6723 0.1606 244.9955);
  --chart-1: oklch(0.6723 0.1606 244.9955);
  --muted-foreground: oklch(0.1884 0.0128 248.5103);
  --font-mono: Menlo, monospace;
  --spacing: 0.25rem;
  --sidebar: oklch(0.9784 0.0011 197.1387);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);
  --radius: 1.3rem;
  --muted: oklch(0.9222 0.0013 286.3737);
  --border: oklch(0.9317 0.0118 231.6594);
  --primary-foreground: oklch(1.0000 0 0);
  --popover: oklch(1.0000 0 0);
  --font-sans: Open Sans, sans-serif;
  --letter-spacing: 0em;
  --shadow-color: rgba(29,161,242,0.15);
  --shadow-opacity: 0;
  --sidebar-border: oklch(0.9271 0.0101 238.5177);
  --sidebar-primary: oklch(0.6723 0.1606 244.9955);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.9392 0.0166 250.8453);
  --font-serif: Georgia, serif;
  --destructive: oklch(0.6188 0.2376 25.7658);
  --secondary: oklch(0.1884 0.0128 248.5103);
  --sidebar-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-accent-foreground: oklch(0.6723 0.1606 244.9955);
  --input: oklch(0.9809 0.0025 228.7836);
  --shadow-offset-x: 0px;
  --sidebar-ring: oklch(0.6818 0.1584 243.3540);
  --sidebar-accent: oklch(0.9392 0.0166 250.8453);
  --destructive-foreground: oklch(1.0000 0 0);
  --shadow-offset-y: 2px;
  --background: oklch(1.0000 0 0);
  --shadow-blur: 0px;
  --card-foreground: oklch(0.1884 0.0128 248.5103);
  --card: oklch(0.9784 0.0011 197.1387);
  --primary: oklch(0.6723 0.1606 244.9955);
}

.dark {
  --ring: oklch(0.6818 0.1584 243.3540);
  --chart-4: oklch(0.7064 0.1822 151.7125);
  --chart-3: oklch(0.8214 0.1600 82.5337);
  --secondary-foreground: oklch(0.1884 0.0128 248.5103);
  --chart-5: oklch(0.5919 0.2186 10.5826);
  --foreground: oklch(0.9328 0.0025 228.7857);
  --shadow-spread: 0px;
  --chart-2: oklch(0.6907 0.1554 160.3454);
  --accent-foreground: oklch(0.6692 0.1607 245.0110);
  --chart-1: oklch(0.6723 0.1606 244.9955);
  --muted-foreground: oklch(0.5637 0.0078 247.9662);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sidebar: oklch(0.2097 0.0080 274.5332);
  --popover-foreground: oklch(0.9328 0.0025 228.7857);
  --radius: 0.625rem;
  --muted: oklch(0.2090 0 0);
  --border: oklch(0.2674 0.0047 248.0045);
  --primary-foreground: oklch(1.0000 0 0);
  --popover: oklch(0 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --shadow-color: rgba(29,161,242,0.25);
  --shadow-opacity: 0.1;
  --sidebar-border: oklch(0.3795 0.0220 240.5943);
  --sidebar-primary: oklch(0.6818 0.1584 243.3540);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.1928 0.0331 242.5459);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --destructive: oklch(0.6188 0.2376 25.7658);
  --secondary: oklch(0.9622 0.0035 219.5331);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-accent-foreground: oklch(0.6692 0.1607 245.0110);
  --input: oklch(0.3020 0.0288 244.8244);
  --shadow-offset-x: 0;
  --sidebar-ring: oklch(0.6818 0.1584 243.3540);
  --sidebar-accent: oklch(0.1928 0.0331 242.5459);
  --destructive-foreground: oklch(1.0000 0 0);
  --shadow-offset-y: 1px;
  --background: oklch(0 0 0);
  --shadow-blur: 3px;
  --card-foreground: oklch(0.8853 0 0);
  --card: oklch(0.2097 0.0080 274.5332);
  --primary: oklch(0.6692 0.1607 245.0110);
}